{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}

<div class="container">
  <img src="/assets/img/burger.png" width="250px">


  <h2>Eat-Da-Burger!</h2>

  <div class="row">
    <div id="devourCol1" class="col-md-6">
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div id="devourCol2" class="col-md-6">
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="1" id="commentField" placeholder="Add A New Burger"></textarea>
  </div>
  <button type="button" id="newBurgerButton" class="btn btn-primary">Submit</button>
</div>