<li>
	{{burger_name}}

	<button classCheck="change-devour" class="btn btn-outline-danger btn-sm" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devoured}}Devour!{{else}}EATEN!{{/if}}
	</button>

	
</li>
